body {
}

body > .navbar {
    font-size: 13px;
}

body > .navbar .brand {
    float: right;
}

.graph {
    margin-bottom: 20px;
}

.graph-link {
    display: block;
    background: #323232 url('/img/load.gif') no-repeat center center;
}

.carousel-inner {
    background: #323232;
}

.carousel .item {
    background: #323232 url('/img/load.gif') no-repeat center 58px;
}

.carousel {
    padding-bottom: 4px;
    border-bottom: solid 1px #ddd;
}

.carousel .container {
    position: relative;
    z-index: 9;
}

.carousel-control {
    top: 230px;
    height: 80px;
    font-size: 120px;
    text-shadow: 0 1px 1px rgba(0,0,0,.6);
    background-color: transparent;
    border: 0;
    z-index: 10;
}

.carousel .item {
    padding: 48px 0 5px;
}

.carousel-caption {
    background-color: transparent;
    max-width: 550px;
    top: 135px;
}

.carousel-caption h1 {
    font-size: 34px;
}

.carousel-caption .lead {
    font-size: 18px;
}

.carousel-caption h1,
.carousel-caption .lead {
    margin: 0;
    line-height: 1.3;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,.9);
}
.carousel-caption .btn {
    margin-top: 10px;
}

footer {
    text-align: right;
    margin: 30px 12px;
}

div.thumbnail:hover,
div.thumbnail:focus {
  border-color: #0088cc;
  -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
     -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
          box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}

.thumbnails img {
    background-color: #323232;
}

@media (max-width: 979px) {

    body > .navbar .brand {
        float: left;
    }

    .navbar-inner {
        margin: 0 0 -20px;
    }

    .carousel .item {
        background-position: center 18px;
        padding: 0;
    }

    .carousel-caption {
        left: 50px;
    }

    .carousel-control {
        top: 180px;
    }

    .graph {
        float: left;
        margin-left: 30px;
    }

    .carousel {
        margin-left: -20px;
        margin-right: -20px;
    }

}
